@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* ---------------                     ------------General Rules */

body {
    background-color: rgb(238, 228, 211);
    font-family: 'Fuzzy Bubbles', cursive;
    color:rgb(84, 89, 94);
    margin-left: 0;
    margin-right: 0;
}

ul {
    list-style: none;
}

.center-align {
    text-align: center;
}

a {
    text-decoration: none;
    color:rgb(51, 153, 221);
}
/* span below for links within the body content */
span {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 80%;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ---------------                     ------------Header */

#logo {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(84, 89, 94);
    float: left;
    padding-left: 2%;
}

#nav-menu {
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    float: right;
    margin-right: 30px;
}

header a {
    text-decoration: none;
}

header ul li {
    float:left;
    padding: 10px 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(84, 89, 94);
  }

#logo:hover {
    color: rgb(51, 153, 221);
} 

#nav-menu a:hover {
    font-size: 110%;
    color: rgb(51, 153, 221);
}

header {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ---------------                     ------------Hero Image and Callout */

.hero-container {
    height: 700px;
    width: 100%;
    clear:both;
    position: relative;
    
}

.hero-image {
    height: 700px;
    width: 100%;
    background-image: url(../images/farm-hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.callout {
    height: 200px;
    width: 350px;
    background-color: rgba(84, 89, 94, 0.5);
    position: absolute;
    top: 350px;
    right: 20%;
    border-radius: 5%;
    padding: 60px 20px 20px 20px;
    margin-right: 50px;

    color: rgb(238, 228, 211);
    text-transform: uppercase;
    font-size: 230%;
}

/* ---------------                     ------------Animals Container */

.animals-container {
    height: 500px;
    margin: 10px 10px;
    clear:both;
}

.animals-text {
    width: 35%;
    float:right; 
    
}

.animals-image {
    height: 500px;
    width: 60%;
    background-image: url(../images/feeding-animals.jpg);
    background-size: cover;
    background-position: center center;
    float:left; 
}

/* ---------------                     ------------Produce Container */

.produce-container {
    height: 500px;
    margin: 10px 10px;
    clear:both;
}

.produce-text {
    width: 35%;
    float: left;
}

.produce-image {
    height: 500px;
    width: 60%;
    background-image: url(../images/fruit-shop.jpg);
    background-size: cover;
    background-position: center center;
    float:right; 
}

/* ---------------                     ------------Hire Container */

.hire-container {
    height: 500px;
    margin: 10px 10px;
    clear:both;
}

.hire-text {
    width: 35%;
    float:right; 
}

.hire-image {
    height: 500px;
    width: 60%;
    background-image: url(../images/barn-venue.jpg);
    background-size: cover;
    background-position: center center;
    float:left; 
}

/* ---------------                     ------------Find Us Container */

.find-us-container {
    height: 500px;
    width: 90%;
    clear:both;
    position:relative;
}

.address-container {
    float:left;
    text-align: center;
    height: 200px;
    width:50%;
    position: absolute;
    top: 100px;
    margin-left: 30px;
    font-family: 'Comfortaa', cursive;
}

.map-container {
    width: 45%;
    float:right;
    border: 1px solid;
    margin-top: 40px;
}

/* ---------------                     ------------Footer */

footer {
    margin-bottom:30px;
}

.footer-text {
    width:100%;
}

.footer-text p {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

footer ul {
    text-align: center;
    padding-left: 20px;
}

footer ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 150%;
}

footer ul li:hover {
    font-size: 170%;
    color: rgb(84, 89, 94);
}
